.TopFooter {
    width: 0;
    height: 0;
    border-color: #f5f5f5 #333;
    border-style: solid;
    border-width: 6vw 50vw 0;
}

.Footer {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    background-color: #333;
    padding: 20px auto;

    .footerContainer {
        position: relative;
        height: 100%;
        padding: 20px auto;

        .footerContent {
            padding: 35px 0;
            background-color: var(--colorMain);
        }

        .goTop {
            position: relative;
            display: flex;
            justify-content: center;
        }

        .goTopContainer {
            position: relative;
            top: 35px;
        }

        .goTopContainer .iconContact:hover .icon {
            animation: gotopAni ease-in 0.5s;

        }

        .iconContainer {
            width: 100%;
            height: 50px;
            margin: 10px 0;

            .goTop {
                background-color: #e93434;
                color: #ffffff;
            }

            .goTop:hover {
                background-color: #e93434;
                animation: none;
            }
        }

        .iconContact {
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #777;
            margin: 0 5px;
            overflow-y: hidden;
        }

        .iconContact:hover {
            background-color: #b0e4e9;
        }

        .iconContact:hover .icon {
            position: relative;
            animation: iconHover ease-in 0.5s;
        }

        .icon {
            display: block;
            position: relative;
            width: 25px;
            height: 25px;
        }

        .copyRightContainer {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 16px;
            padding: 10px;
            height: 16px;
            color: white;
        }

        .iconCopyRight {
            padding: 0 5px;
            width: 16px;
            height: 16px;
        }
    }
}

.package {
    margin-top: 50px;
    min-height: 300px;
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 3.2rem;
    color: white
}

.underline {
    position: relative;
    border: 1px solid #fff;
    width: 150px;
    margin: 5px auto 30px;
    text-align: center;
    animation: textTitleAppearance ease-in 1.2s;
}

.question {
    padding-bottom: 15px;
    color: #b0e4e8;
    font-size: 1.3rem;
    cursor: default;
}

.ContactContainer {
    display: block;
    position: relative;
    min-width: 360px;
    margin: auto;
    text-align: center;
}

.formContainer {
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.input {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    min-width: 480px;
    outline: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    margin: 2px auto;
}

.inputEmail { 
    // margin: 2px;
    padding: 6px;
    outline: none;
    border: none;
    width: -webkit-fill-available;
    height: 30px;
}

.inputMessage {
    border: none;
    padding: 6px;
    min-height: 200px;
}

.btnSubmit {
    position: absolute;
    text-transform: uppercase;
    right: 0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border: 1px solid #fff;
    cursor: default;
}

.btnSubmit:hover {
    border: 1px solid #f9794c;
    background-color: #f9794c;
}

@keyframes gotopAni {
    from {
        transform: translateY(15px);
        color: red;
    }

    to {
        transform: translateY(-15px);
        color: white;

    }
}


@keyframes iconHover {
    from {
        transform: translateY(-38px);
    }

    to {
        transform: translateY(0);
    }
}

@media screen and (min-width: 1200px) {
    .TopFooter {
        border-width: 6vw calc(50vw - 9px) 0;

    }
    
}

@media screen and (max-width: 600px) { 
    .input {
        min-width: 96%;
    }
    .inputEmail {
        width: unset;
    }
}