@import '../animations/animation.module.scss';

a {
    text-decoration: none;
}

.container {
    position: relative;
    height: auto;
    background-color: #f5f5f5;
    padding: 100px 0;
}

.Light {
    background-color: #ffffff;
}

.titleSubject {
    width: 100%;
    height: 30px;
}

.titleText {
    position: relative;
    width: 363px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    animation: textTitleAppearance ease-in 1s;

}

.contentContainer {
    display: flex;
    justify-content: center;
}

.contentHeader {
    position: relative;
    height: 40px;
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.imgContainer {
    transform: translateX(0px);
    display: flex;
    position: relative;
    // transition: cubic-bezier(1, 0, 0, 1) 0.2s;

    .imgLink {
        width: 500px;
        margin: 0;
    }
}

.hide {
    // min-width: 0 !important;
    animation: fadeAway 0.5s ease-in !important;
}

.underlineContainer {
    position: relative;
    width: 363px;
    margin: auto;
    animation: textTitleAppearance ease-in 1.2s;
}

.underline {
    position: relative;
    border: 1px solid #444649;
    width: calc(363px * 0.2);
    margin: 5px auto 50px;
    text-align: center;

}

.btnOption {
    position: relative;
    width: 200px;
    padding: 5px 10px;
    font-size: 1.3rem;
    cursor: default;
}

.active {
    font-weight: 500;
    background-color: #f9794c;
    color: white;
}

.backgroundContainer {
    position: absolute;
    width: 800px;
    height: 40px;
}

.backgroundColor {
    position: relative;
    left: 0;
    width: calc(100%/3);
    height: 40px;
    color: white;
    background-color: #f9794c;
}

.underlineTitleContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.underlineTitle {
    height: calc(100% - 3px) !important;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 3px solid #f44948;
    height: 100%;
    animation: btnColorActive ease-in 0.5s;

}

.galleryContainer {
    padding-top: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.gallery {
    display: flex;
    max-width: inherit;
    justify-content: center;
    flex-wrap: wrap;
}

.galleryItemOutline {
    position: relative;
    // min-width: 375px;
    height: 225px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) ease-in 0.8s;
}

.galleryItem {
    display: flex;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 375px;
    margin: 2px;
    height: 225px;
    overflow: hidden;
    transform: translateY(-50px);
    transition: ease-in 0.3s;
    opacity: 0.6;

}

.galleryItem:hover {
    background-color: #f5f5f5;
    background-image: unset !important;
    box-shadow: 0px 0px 12px 2px #dedede;
    animation: gradualAppearance 1s;
    z-index: 9;
}

.galleryItemShow {
    transform: translateY(0);
    opacity: 1;
    animation: detailItemShow ease-in 0.5s;
}

.galleryItem:hover .cardContainer {
    opacity: 1;
    display: block;
}


.galleryItemOutline:hover .labelContainer {
    display: none;
}

.galleryItemContainer {
    animation: showItem ease-in 0.6s;
    color: transparent;

}

.cardContainer {
    display: none;
    width: 100%;
}

.galleryTitle {
    position: relative;
    cursor: default;
    animation: cardZoomDown ease-in 0.5s;
}

.galleryName {
    color: #333;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.galleryType {
    text-align: center;
    color: #ef3f2d;
    font-size: 1.4rem;
}

.btnGallery {
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    border: 2px solid #f9794c;
    color: #f9794c;
    width: 150px;
    margin: 69px auto 0px;
    cursor: default;
    animation: cardZoomUp ease-in 0.5s;
    font-weight: 300;
}

.labelContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.label {
    position: absolute;
    top: -2px;
    height: 30px;
    line-height: 30px;
    width: max-content;
    background-color: #9332bb;
    border-bottom: 1px solid wheat;
    color: #fff;
    padding: 0 8px;
    border-radius: 0 0 8px 8px;
    animation: labelShow ease-in 0.5s;
}

.label::before {
    content: "";
    border-top: 0px solid transparent;
    border-left: 3px solid transparent;
    border-right: 0px solid rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    left: -3px;
    z-index: 0;
    display: block;
}

.label::after {
    content: "";
    border-top: 0px solid transparent;
    border-left: 0px solid rgba(0, 0, 0, 0.6);
    border-right: 3px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: -3px;
    z-index: 0;
    display: block;
}

.btnGallery:hover {
    background-color: #f9794c;
    color: #fff;
    font-weight: 300;
    z-index: 10;
    cursor: default;
}

.detailContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 122, 122, 0.6);
    display: flex;
    z-index: 10;
    // display: none;

    .detailItem {
        position: relative;
        max-width: 500px;
        max-height: 520px;
        margin: auto;
        background-color: #fff;
        box-shadow: 0px 0px 8px 3px #727272;
        z-index: 0;
        animation: detailItemShow ease-out 0.3s;
    }

    .imgIllustration {
        position: relative;
        overflow: hidden;
        display: flex;
        height: 300px;
        text-align: center;
        border-bottom: 8px solid #dedede;

        .imgItem {
            height: 100%;
            max-width: 498px;
            margin: 1px;
        }

        .carouselContainer {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            bottom: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
        }

        .carousel {
            position: relative;
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 100%;
            background-color: #5188ca;

            .arrowImage {

                width: 100%;
                color: #fff;
                font-size: 1.8rem;
            }
        }

        .carousel:hover {
            background-color: #e93434;
            animation: carouselHover ease-in 0.2s;
        }
    }

    .content {
        margin: 20px 20px 0;

        .title {
            font-size: 30px;
            font-weight: 700;
        }

        .underlineBar {
            border: 1px solid #dedede;
            margin: 9px auto;
        }

        .briefDescription {
            color: #666;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 15px;
        }

        .description {
            width: 100%;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
        }
    }

    .toolbar {
        position: relative;
        bottom: 0;
        height: 39px;
        width: 100%;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
    }

    .iconToolbar {
        color: white;
        line-height: 39px;
        font-size: 1.6rem;
        padding: auto;
        margin: auto;
    }

    .btnView {
        height: 100%;
        min-width: 90px;
        padding: 0 10px;
        margin: 0;
        text-align: center;
        font-size: 1rem;
        line-height: 39px;
        color: white;
        background-color: #f9794c;
        cursor: default;
    }

    .btnClose {
        color: #666;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
    }

    .usedTech {
        position: absolute;
        top: 0;
        right: -163px;
        margin: 0 2px;
        width: 160px;
        height: 100%;
        transform: rotate(0);
        transition: ease-in 0.6s; 

        .usedTechEffect {
            width: 50px;
            height: 100%;
            animation: rightToLeft ease-in 0.5s;
        }

        .imgTechContainer {
            padding: 5px;
            min-width: 50px;
            min-height: 50px;
            transform: translateY(0);
            transition: ease-in-out 0.3s;
            transition-delay: 0.3s;
        }

        .rotate {
            transform: rotate(360deg) !important;
            transition: ease-in-out 0.8s;

        }

        .imgTechBG {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 0px 0px 3px 3px #afafaf;
            background-color: #fff;
        }
        
        .imgTech {
            width: 80%;
            height: 80%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .imgEffectAnimation {
            transform: translateY(0px) !important;
            transition: ease-in-out 0.6s;
        }

        .imgTechContainer:first-child {
            margin-top: 10px;
        }

        .imgTechContainer:nth-child(2) {
            transform: translateY(-60px);
        }

        .imgTechContainer:nth-child(3) {
            transform: translateY(-120px);
        }

        .imgTechContainer:nth-child(4) {
            transform: translateY(-180px);
        }
    }
 
}


@media screen and (max-width: 1200px) {
    body {
        .detailContainer {
            .usedTech {
                display: block !important;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    body {
        .nav-lists {
            position: -webkit-sticky;
        }

        .imgIllustration {
            width: 383px;
            height: 210px !important;
        }

        .imgLink {
            width: 385px !important;

        }

        .imgItem {
            height: 210px;
        }

        .btnOption {
            width: unset;
            min-width: 100px;
        }

        .galleryItem {
            margin: unset;
        }

        .galleryItemOutline+.galleryItemOutline {
            margin-top: 5px;
        }

        .detailItem:hover .usedTech {
            display: none !important;
        }

        .detailItem {
            .usedTech {
                display: block;
                justify-content: space-around;
                top: unset;
                left: 0;
                right: unset;
                width: 100% !important;
                height: 60px !important;
                margin-top: 10px;

                .usedTechEffect {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }

                .imgTechContainer {
                    margin: 0 5px;
                    width: 60px;
                    height: 60px;
                }

                .imgTechContainer:nth-child(1),
                .imgTechContainer:nth-child(2),
                .imgTechContainer:nth-child(3),
                .imgTechContainer:nth-child(4) {
                    transform: translateY(0) !important;
                }

                .imgTechBG {
                    width: 60px;
                    height: 60px;

                }

                .imgTechContainer:first-child {
                    margin-top: unset;
                }
            }

        }
    }
}


@media screen and (max-width: 375px) {
    html {}

    body {

        .galleryItemShow,
        .underlineContainer,
        .titleSubContainer {
            width: 360px;
        }

        .detailItem {
            width: 360px;
        }

        .titleSubContainer {
            font-size: 1.2rem;
        }

        .titleText {
            width: unset;
            font-size: 2.7rem;
        }

        .imgIllustration {
            width: 360px !important;
            height: 210px !important;
        }

        .imgLink {
            width: 360px !important;

        }

        .imgItem {
            max-width: 360px !important;
            height: 210px;
            margin: unset !important;
        }

        .galleryItem {
            margin: unset;
        }

        .btnView {
            padding: 0 5px !important;
            margin: 0 !important;
        }
    }
}