@keyframes showItem {
    from {
        transform: translateY(50px);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes identifier {}

@keyframes cardZoomDown {
    from {
        top: -55px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}


@keyframes cardZoomUp {
    from {
        top: 55px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes textTitleAppearance {
    from {
        margin-right: 0;
        opacity: 0;
    }

    to {
        margin-right: calc((100% - 363px)/2);
        opacity: 1;
    }
}


@keyframes arrowRightHover {

    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(90deg)
    }
}

@keyframes navbarAnimation {
    from {
        transform: translateY(-50px)
    }

    to {
        transform: translateY(0px)
    }
}

@keyframes btnColorActive {
    from {
        background-color: #fff;
        width: 0%;
        border-radius: 0%;
        opacity: 0.8;
        border-color: transparent;
    }

    to {
        width: 120%;
        border-radius: 30%;
        background-color: transparent;
        opacity: 0;
        border-color: #f44948;
    }
}

@keyframes carouselHover {
    from {
        background-color: #5188ca;
    }

    to {
        background-color: #e93434;
    }
}

@keyframes labelShow {
    from {
        opacity: 0;
        color: transparent;
        transform: translateY(-5px);
        width: 0;
    }

    to {
        opacity: 1;
        color: transparent;
        transform: translateY(0px);
        width: 20%;
    }
}

@keyframes gradualLager {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes gradualAppearance {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeAway {
    from {    
        transform: scale(1);
        opacity: 1;
        // width: 375px;
        height: 100%;
        margin-right: 0;
    }

    to {  
        margin-right: 100%;
        transform: scale(0);
        opacity: 0;
        // width: 0px;
        height: 0%;
    }
}


@keyframes detailItemShow {
    from {
        transform: scale(0.8);
        opacity: 0.8;
    }

    to {
        transform: translateY(0);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rightToLeft {
    from {
        margin-left: 100%;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes dropDown {
    from {
        margin-left: 100%;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }
}
