@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar {
  /* width: auto; */
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  --colorMain: #160302;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
nav {
  background-color: #422445;
  width: 100%;
}

.text {
  font-weight: '300';
  font-size: '3.6rem';
  text-align: 'center';

}

.hide {
  display: none;
}

.m-auto {
  margin: auto;
}

.d-flex {
  display: flex;
}

.transform-y--none {
  transform: translateY(0px) !important;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.format-center {
  display: flex;
  align-items: center;
  justify-content: center
}

.a-prevent-default {
  text-decoration: none;
  color: white;
}


.grid {
  max-width: 1200px;
  margin: auto;
}